<script type="text/javascript">
    $(document).ready(function () {
        /* Hi
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        console.log(`%c         _nnnn_                      
        dGGGGMMb     ,"""""""""""""".
       @p~qp~~qMb    | Linux Rules! |
       M|@||@) M|   _;..............'
       @,----.JM| -'
      JS^\__/  qKL
     dZP        qKRb
    dZP          qKKb
   fZP            SMMb
   HZM            MMMM
   FqM            MMMM
 __| ".        |\dS"qML
 |    \`.       | \`' \Zq
_)      \.___.,|     .'
\____   )MMMMMM|   .'
     \`-'       \`--' \n- Art by hjm (https://www.asciiart.eu/computers/linux)\n- Prashant Says hello ;)`, "font-family:monospace");

        /* Special thanks to..
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        console.log("♥ Special thanks to SkeletonCSS, Lightcase, Icomoon, Netlify, Google Web Fonts, & Updown. ♥");

        /* Image Lightbox Initialization
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $('a[data-rel^=lightcase]').lightcase({
            'maxWidth': '100%'
        });

        /* Lazy Load all Images - Coming Soon!
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        /* Hook the scroll event & display the progressbar.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $(document).scroll(function (e) {
            var dimensions = {
                'scrollTop': $(window).scrollTop(),
                'documentHeight': $(document).height(),
                'windowHeight': $(window).height()
            };

            // Exclude the window to get actual height!
            var pageScrolledPercentage = (dimensions.scrollTop / (dimensions.documentHeight - dimensions.windowHeight)) * 100;
            $('.progress').css('width', pageScrolledPercentage + '%');
        });

        /* Responsive Sidebar.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $('.toggleNav').on('click', function (e) {
            e.preventDefault();
            if ($(".fullscrNav").width() == 0) {
                // Display the navigation.
                $('.fullscrNav').width("75%");
            } else {
                $('.fullscrNav').width("0");
            }
            return false;
        });

        /* Disqus handling for page load speed.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $(".disqus_trigger").click(function (e) {
            e.preventDefault();

            // Check if Disqus was already loaded before.
            if (typeof DISQUS === "undefined") {
                $.ajax({
                    type: "GET",
                    url: "//prashantshrestha.disqus.com/embed.js",
                    dataType: "script",
                    cache: true
                });
                $(".disqus").slideToggle('fast');
            } else {
                DISQUS.reset({
                    reload: true,
                    config: function () {
                        this.page.identifier = document.title;
                        this.page.url = location.href;
                    }
                });
                $(".disqus").slideToggle('fast');
            }

            return false;
        });

        /* Search trigger - using manual button click.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        // var toSearch = "https://cse.google.com/cse/publicurl?cx=010738197107477130202:cnkjahloicw&q=";
        // var toSearch = "{{ site.baseurl | append: 'posts.json' }}";
        $(".gcse-trigger").click(function (e) {
            e.preventDefault();
            var searchKey = $('input#toSearch').val();

            if (searchKey !== null | searchKey !== undefined | searchKey !== "" | searchKey.length > 2) {
                $.getJSON("../posts.json", {}, function (data) {
                    const filteredData = data.posts.filter(post =>
                        post.title.toLowerCase().includes(searchKey.toLowerCase()) ||
                        post.tags.join().toLowerCase().includes(searchKey.toLowerCase()) ||
                        post.category.toLowerCase().includes(searchKey.toLowerCase()) ||
                        post.excerpt.indexOf(searchKey) > 0);
                    console.log("[Search] - Searching for " + searchKey + " returned " + filteredData.length + " results.");

                    $(".search-result-container").empty().append("<h5 class='totalSearchResults'>Found " + filteredData.length + " results for " + searchKey + ".</h5>");

                    $.each(filteredData, (key, value) => {
                        var initialFormatting = '<div class="row result">' +
                            '<div class="u-full-width">' +
                            '<h5><i class="icon-file-text2"></i>&nbsp;<a target="_blank" href="{0}">{1}</a></h5>' +
                            '<p><i class="icon-price-tags" title="Tags"></i>&nbsp;&nbsp;{2}</p>' +
                            '<p>{5}</p>' +
                            '<p><i class="icon-tree" title="Categories"></i>&nbsp;&nbsp;{3}<br/>' +
                            '<i class="icon-calendar"></i>&nbsp;&nbsp;{4}</p>' +
                            '</div></div>';
                        $(".search-result-container").append(
                            initialFormatting
                                .replace("{0}", value.link)
                                .replace("{1}", value.title.replace(searchKey, "<span style='background: yellow;'>" + searchKey + "</span>"))
                                .replace("{2}", value.tags.join(', ').toUpperCase().replace(searchKey.toUpperCase(), "<span style='background: yellow;'>" + searchKey.toUpperCase() + "</span>"))
                                .replace("{3}", value.category.toUpperCase().replace(searchKey.toUpperCase(), "<span style='background: yellow;'>" + searchKey.toUpperCase() + "</span>"))
                                .replace("{4}", value.date.toUpperCase())
                                .replace("{5}", value.excerpt.replace(searchKey, "<span style='background: yellow;'>" + searchKey + "</span>"))
                        );
                    });
                });
            } else {
                console.log("[Search] - Empty search instruction received.");
            }
        });

        /* Search trigger - using keydown event.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $("input#toSearch").keydown(function (e) {
            var keyPressed = e.which || e.keyCode;
            var searchKey = $(this).val();

            if (keyPressed === 13 && searchKey.length > 0) {
                $(".gcse-trigger").trigger('click');
            }
        });

        /* On Window scroll event to calculate the To Top display trigger.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $(window).scroll(() => {
            if ($(this).scrollTop()) {
                $(".toTop").fadeIn();
            } else {
                $(".toTop").fadeOut();
            }
        });

        /* On "To Top" button click event.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $('a[href*="#"]:not([href="#"]), a[href^="#fn"]').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[id="#' + this.hash.slice(1) + '"]');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    },  900, 'swing', function () {
                        window.location.hash = this.hash;
                    });

                    return false;
                }
            }
        });
        // $("a[href^='#'], a[href^='#fn']").click(function (e) {
        //     // a[href*='#']:not([href='#']),a[href='#top'],a[href^='#fnref:']
        //     if (this.hash !== "") {
        //         e.preventDefault();
        //         var targetElement = this.hash;
        //         console.log(targetElement);
        //         $('html, body').animate({
        //             'scrollTop': parseInt($('#' + targetElement).offset().top, 10)
        //         }, 900, 'swing', function () {
        //             // Add hash (#) to URL when done scrolling (default click behavior)
        //             window.location.hash = targetElement;
        //         });
        //     }

        //     // var componentToScrollTo = $(hash).offset().top
        //     // $("html, body").animate({ scrollTop: componentToScrollTo }, "slow");
        //     return false;
        // });

        /* External link handling.
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        $(".posts a[href^='http://'], a[href^='https://']").click(function () {
            ($(this).attr("href").indexOf("prashant.me") == -1) ? $(this).attr("target", "_blank") : $(this).attr("target", "");
        });
    });
</script>