<!-- Sidebar -->
<div class="sidebar three columns">
    <!-- Author Information (Blog Owner) -->
    <div class="author-info container">
        <!-- Profile Picture -->
        <a href="{{ site.baseurl | append: '/' }}"><img class="u-full-width profile-picture" src="{{ ASSET_PATH }}/assets/images/image.png" /></a>
        <!-- Author Name (Owner) -->
        <div class="row">
            <h6 class="u-full-width tag-title">Navigate</h6>
            <ul class="u-full-width navigation">
                <li><a href="{{ site.baseurl | append: '/' }}">Home</a></li>
                <li><a href="{{ "/projects" | prepend: site.baseurl | append: '/' }}">Projects</a></li>
                <li><a href="{{ "/archive" | prepend: site.baseurl | append: '/' }}">Archive</a></li>
                <li><a href="{{ "/search" | prepend: site.baseurl | append: '/' }}">Search</a></li>
                <li><a href="{{ "/about" | prepend: site.baseurl | append: '/' }}">About</a></li>
                <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
            </ul>
        </div>
    </div>

    <!-- Recent Posts/Articles -->
    <div class="recent-articles container">
        <h6 class="u-full-width tag-title">Recent Articles</h6>
        <!-- Recent Articles. -->
        <ul class="u-full-width recent-articles">
            {% for post in site.posts limit:5 %}
            <li><a class="title" href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">{{ post.title | escape }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Social Buttons/Share/Contact -->
    <div class="social-share container">
        <h6 class="u-full-width tag-title">Social</h6>
        <!-- Recent Articles. -->
        <ul class="u-full-width social-buttons">
            <li><a href="https://trakt.tv/users/scarecr0w" title="Trakt.TV" target="_blank"><i class="icon-brand5"></i></a></li>
            <li><a href="{{ site.googleplus_username | prepend: 'https://plus.google.com/u/2/+' }}" title="G+" target="_blank"><i class="icon-brand2"></i></a></li>
            <li><a href="{{ site.reddit | prepend: 'https://reddit.com/u/' }}" title="Reddit" target="_blank"><i class="icon-reddit"></i></a></li>
            <li><a href="{{ site.github_username | prepend: 'https://github.com/' }}" title="Github" target="_blank"><i class="icon-github-alt"></i></a></li>
            <li><a href="{{ site.bitbucket | prepend: 'https://bitbucket.org/' | append: '/' }}" target="_blank" title="Bitbucket"><i class="icon-brand"></i></a></li>
        </ul>
    </div>

    <!-- Sidebar Copyright &copy; Section. -->
    <div class="copyright container">
        <h6 class="tag-content">Copyright &copy; 2017, <a href="#">Prashant Shrestha</a>.</h6>
    </div>
</div>


<!-- Full Screen Menu -->
<div class="fullscrNav">
    <div class="container">
        <a href="#" class="nav-close" title="Close"><i class="icon-cross"></i></a>
        <img class="u-full-width profile-picture" src="{{ ASSET_PATH }}/assets/images/image.png" />
        <h6 class="u-full-width">Prashant Shrestha</h6>
        <ul class="u-full-width navigation">
            <li><a href="{{ site.baseurl | append: '/' }}">Home</a></li>
            <li><a href="{{ "/projects" | prepend: site.baseurl | append: '/' }}">Projects</a></li>
            <li><a href="{{ "/archive" | prepend: site.baseurl | append: '/' }}">Archive</a></li>
            <li><a href="{{ "/search" | prepend: site.baseurl | append: '/' }}">Search</a></li>
            <li><a href="{{ "/about" | prepend: site.baseurl | append: '/' }}">About</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        </ul>
    </div>
</div>