<!-- Sidebar -->
<div class="sidebar three columns">
    <!-- Author Information (Blog Owner) -->
    <div class="author-info container">
        <!-- Profile Picture -->
        <a href="{{ site.url }}"><img class="u-full-width profile-picture" src="{{ ASSET_PATH }}/assets/images/image.png" /></a>
        <!-- Author Name (Owner) -->
        <div class="row">
            <h6 class="u-full-width tag-title">Navigate</h6>
            <ul class="u-full-width navigation">
                <li><a href="{{ "/projects" | prepend: site.url }}">Projects</a></li>
                <li><a href="{{ "/contact" | prepend: site.url }}">Contact</a></li>
                <li><a href="{{ "/search" | prepend: site.url }}">Search</a></li>
                <li><a href="{{ "/about" | prepend: site.url }}">About</a></li>
                <li><a href="{{ "/feed.xml" | prepend: site.url }}">RSS</a></li>
            </ul>
        </div>
    </div>

    <!-- Recent Posts/Articles -->
    <div class="recent-articles container">
        <h6 class="u-full-width tag-title">Recent Articles</h6>
        <!-- Recent Articles. -->
        <ul class="u-full-width recent-articles">
            {% for post in site.posts limit:5 %}
                <li><a class="title" href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">{{ post.title | escape }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Social Buttons/Share/Contact -->
    <div class="social-share container">
        <h6 class="u-full-width tag-title">Social</h6>
        <!-- Recent Articles. -->
        <ul class="u-full-width social-buttons">
            <li><a href="{{ site.bitbucket | prepend: 'https://bitbucket.org/' | append: '/' }}" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.github_username | prepend: 'https://github.com/' }}" title="Github" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.googleplus_username | prepend: 'https://plus.google.com/u/2/+' }}" title="G+" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.twitter_username | prepend: 'https://twitter.com/' }}" title="Twitter" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <!-- Sidebar Copyright &copy; Section. -->
    <div class="copyright container">
        <h6 class="tag-content">Copyright &copy; 2017, <a href="#">Prashant Shrestha</a>.</h6>
    </div>
</div>


<!-- Full Screen Menu -->
<div class="fullscrNav">
    <div class="container">
        <a href="#" class="nav-close" title="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
        <img class="u-full-width profile-picture" src="{{ ASSET_PATH }}/assets/images/image.png" />
        <h6 class="u-full-width">Prashant Shrestha</h6>
        <ul class="u-full-width navigation">
            <li><a href="{{ " /projects " | prepend: site.url }}">Projects</a></li>
            <li><a href="{{ " /contact " | prepend: site.url }}">Contact</a></li>
            <li><a href="{{ " /search " | prepend: site.url }}">Search</a></li>
            <li><a href="{{ " /about " | prepend: site.url }}">About</a></li>
            <li><a href="{{ " /feed.xml " | prepend: site.url }}">RSS</a></li>
        </ul>
    </div>
</div>