/** Mixins **/
@mixin _border_radius($radius) {
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin _transtion($type, $delay) {
    -webkit-transition: $type $delay ease-in-out;
    -khtml-transition: $type $delay ease-in-out;
    -o-transition: $type $delay ease-in-out;
    transition: $type $delay ease-in-out;
}

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
}

@mixin font($family, $weight, $style) {
    font-family: $family !important;
    font-weight: $weight;
    font-stretch: $style;
    @include font-smoothing;
}
