<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
	<!-- Scroll Progress, replaced Rainbow border.
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<div class="progressContainer">-->
        <div class="progress"></div>
    <!--</div>-->

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<main class="container" aria-label="Content">
		<div class="row">
			{{ content }}
		</div>

		<!-- Scroll to TOP!
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<a class="toTop" href="#top" title="Scroll to Top!">
			<span class="icon-hand-o-up"></span>
		</a>

	</main>
	
	<!-- Scripts Included
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ "assets/js/lightcase.js " | relative_url }}"></script>

	<!-- MathJax disabled for now.
	–––––––––––––––––––––––––––––––––––––––––––––––––– 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async async="async"></script>	-->

	<!-- Scripts Usage
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include scripts.html %}

	<!-- Full site-wide Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include footer.html %}
</body>

</html>
