<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
	<!-- Rainbow border.
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="rainbow-head"></div>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<main class="container" aria-label="Content">
		<div class="row">
			{{ content }}
		</div>

		<!-- Scroll to TOP!
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<a class="toTop" href="#top" title="Scroll to Top!"><span><i class="icon-one-finger-swipe-up"></i></span></a>
		
	</main>

	<!-- Scripts Included
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="{{ "assets/js/jquery.min.js " | relative_url }}"></script>
	<script type="text/javascript" src="{{ "assets/js/lightcase.js " | relative_url }}"></script>

	<!-- Scripts Usage
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include scripts.html %}

	<!-- Full site-wide Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include footer.html %}
</body>

</html>