<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
	<!-- Rainbow border.
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="rainbow-head"></div>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<main class="container" aria-label="Content">
		<div class="row">
			{{ content }}
		</div>

		<!-- Scroll to TOP!
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<a class="toTop" href="#top" title="Scroll to Top!"><span><i class="icon-one-finger-swipe-up"></i></span></a>
		
	</main>

	<!-- Scripts Included
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="{{ "assets/js/jquery.min.js " | relative_url }}"></script>
	<script type="text/javascript" src="{{ "assets/js/lightcase.js " | relative_url }}"></script>

	<!-- Scripts Usage
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript">
		$(document).ready(function () {
			/* Hi
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			console.log(`%c        ,=""=,
	   c , _,{
	   /\   @ )                 __
	  /  ^~~^\          <=.,__/ '}=
	 (_/ ,, ,,)          \\_ _>_/~
	  ~\_(/-\)'-,_,_,_,-'  (_)-(_)  - Prashant says Hi`, "font-family:monospace");

			/* Special thanks to..
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			console.log("Special thanks to SkeletonCSS, Lightcase, Icomoon. ❤");

			/* Image Lightbox Initialization
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			$('a[data-rel^=lightcase]').lightcase({
				'maxWidth': '100%'
			});

			/* Lazy Load all Images - Coming Soon!
			–––––––––––––––––––––––––––––––––––––––––––––––––– */

			/* Responsive Sidebar.
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			$('.toggleNav > i').on('click', function (e) {
				e.preventDefault();
				$('.fullscrNav').width('100%').toggle();
				return false;
			});

			$('.nav-close > i').on('click', function (e) {
				e.preventDefault();
				$('.fullscrNav').css('width', '0').toggle();
				return false;
			});

			/* Disqus handling for page load speed.
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			$(".disqus_trigger").click(function (e) {
				e.preventDefault();

				// Check if Disqus was already loaded before.
				if ($("#disqus_thread").text().length > 0) {
					$("#disqus_thread").toggle();
				} else {
					// Disqus wasn't loaded before.
					$.ajax({
						type: "GET",
						url: "https://{{ site.disqus.shortname }}.disqus.com/embed.js",
						dataType: "script",
						cache: true
					});
				}

				return false;
			});

			/* Search trigger - using manual button click.
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			var toSearch = "https://cse.google.com/cse/publicurl?cx=010738197107477130202:cnkjahloicw&q=";
			$(".gcse-trigger").click(function(e){
				e.preventDefault();
				var searchKey = $('input#toSearch').val();
				var searchURL = "https://www.googleapis.com/customsearch/v1?q={0}&cx={1}&key={2}"
				var apiKey = "AIzaSyAXNi32ZKBfeR6d59kcP7hUfyBxMycVvms";
				var engineID = "010738197107477130202:cnkjahloicw";

				// Clear previous search results.
				$(".search-result-container").empty();

				if(searchKey.length > 3){
					// Start the search.
					$.ajax({
						type: "GET",
						url: searchURL.replace("{0}", searchKey).replace("{1}", engineID).replace("{2}", apiKey),
						success: function(result){							
							if(result.hasOwnProperty('items') && result.items.length > 0){
								$(".search-result-container").append("<h5 class='totalSearchResults'>" + result.items.length + " results found for '" + searchKey + "' via. Google Search.</h5>");

								$.each(result.items, function(key, value){
									var initialFormatting = '<div class="row result"><div class="three columns"><img class="thumbnail" src="{3}"></div><div class="nine columns"><h5><a target="_blank" href="{0}">{1}</a></h5><p>{2}</p></div></div>';
									var searchResultThumbnail = "";

									if(value.pagemap.hasOwnProperty('cse_thumbnail')){
										searchResultThumbnail = value.pagemap.cse_thumbnail[0].src;
									}else if(!value.pagemap.hasOwnProperty('cse_thumbnail') &&
									 value.pagemap.hasOwnProperty('cse_image')){
										searchResultThumbnail = value.pagemap.cse_image[0].src;
									}else{
										searchResultThumbnail = "https://prashant.me/assets/images/image.png";
									}

									$(".search-result-container").append(
										initialFormatting.replace("{0}", value.link).replace("{1}", value.title).replace("{2}", value.htmlSnippet).replace("{3}", searchResultThumbnail));
								});
							}else{
								$(".search-result-container").append("<h5 class='totalSearchResults'>0 results found for '" + searchKey + "' via. Google Search.</h5>");
							}
						}
					})

				}else{
					// Notify the user regarding the character length requirement.
					console.log("Not enough character length!");
				}

				return false;
			});

			/* Search trigger - using keydown event.
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			$("input#toSearch").keydown(function(e){
				var keyPressed = e.which || e.keyCode;
				var searchKey = $(this).val();

				if(keyPressed === 13 && searchKey.length > 0){
					$(".gcse-trigger").trigger('click');
				}
			});

			/* On Window scroll event to calculate the To Top display trigger.
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			$(window).scroll(() => {
				if($(this).scrollTop()){
					$(".toTop").fadeIn();
				}else{
					$(".toTop").fadeOut();
				}
			});

			/* On "To Top" button click event.
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			$("a[href='#top']").click(function (e) {
				e.preventDefault();
				$("html, body").animate({ scrollTop: 0 }, "slow");
				return false;
			});
		});
	</script>

	<!-- Full site-wide Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include footer.html %}
</body>

</html>