--- 
layout: default
--- 

{% include sidebar.html %} {{ content }}

<!-- Blog posts -->
<div class="content nine columns">
	<!-- Header -->
	<header class="row header">
		<div class="u-full-width" style="display: inline-block;">
			<h4 class="site-description"><a href="{{ site.url }}"><i class="icon-flame"></i>&nbsp;{{ site.description }}</a>
				<a class="toggleNav" style="float: right; display: none;"><i class="fa fa-bars" aria-hidden="true"></i></a></h4>
		</div>
	</header>
	<div class="row posts">
		{% for post in paginator.posts %}
		<article class="row post">
			<h4 class="post-title" itemprop="name headline">
				<i class="icon-file-text2"></i>
				<a class="title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			</h4>

			<!-- Tags Section -->
			<div class="row post-stamps">
				{% assign categories = post.categories %} {% assign categoriesCount = categories | size %}

				<div class="u-full-width stamp categories">
					<i class="icon-tree" title="Categories"></i> 
					{% if categoriesCount < 1 %} Uncategorized {% endif %} 
					{% for category in categories %} 
						{{ category }}{% unless forloop.last %}> {% endunless %}
					{% endfor %}
				</div>
				{% assign tags = post.tags %} {% assign tagCount = post.tags | size %} {% if tagCount > 0 %}
				<div class="u-full-width stamp tags">
					<i class="icon-price-tags" title="Tags"></i> {% for tag in tags %} {{ tag }}{% unless forloop.last %},
					{% endunless%} {% endfor %}
				</div>
				{% endif %}
			</div>

			<div class="post-content" itemprop="articleBody">
				<!--{{ post.content | truncatewords: 50 }}-->
				{{ post.excerpt }}
				
				{% if post.content contains site.excerpt_separator %}
					<a href="{{ post.url }}" title="{{ post.title | escape }}">Read More <i class="icon-subdirectory_arrow_right" title="Read More .."></i></a><br/><br/>
				{% endif %}
			</div>

			<!-- Article Footer -->
			{% assign date_format = site.minima.date_format | default: "%b %d %Y" %}
			<footer class="post">
				<span class="post-meta">
						<i class="icon-calendar"></i>
						<time datetime="{{ page.date | date_to_rfc822 }}" itemprop="datePublished">
							{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} 
							{{ post.date | date: date_format }}
						</time>
					</span> • {% if post.author %}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
							<span itemprop="name">{{ post.author }}</span>
				</span> • {% endif %}
				<span>
						<a class="permalink" href="{{ post.url | relative_url }}" title="Permalink"><i class="icon-link"></i> Permalink</a>
					</span> • <span>
						<a title="Save to Pocket" href="https://getpocket.com/edit?url={{ post.url | relative_url | prepend: site.url }}" data-lang="en" data-save-url="{{ post.url | relative_url }}" data-pocket-count="none" data-pocket-align="left"><i class="icon-pocket"></i></a>
					</span>
			</footer>
		</article>
		{% endfor %}
	</div>

	{% include pagination.html %}
</div>