---
layout: default
---

{% include sidebar.html %}

<!-- Blog posts -->
<div class="content nine columns">
	<!-- Header -->
	<header class="row header">
		<div class="u-full-width" style="display: inline-block;">
			<div class="eleven colums"><h4 class="site-description"><a href="{{ site.url }}"><i class="icon-flame"></i>&nbsp;{{ site.description }}</a></h4></div>
			<div class="one colums"><h4 class="site-description"><a class="toggleNav" style="float: right; display: none;"><i class="icon-menu"></i></a></h4></div>
		</div>
	</header>
	<div class="posts">
		<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			<h4 class="post-title" itemprop="name headline">
				<i class="icon-file-text2"></i>
				<a class="title" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
			</h4>

			<!-- Tags Section -->
			<div class="row post-stamps">
				{% assign categories = page.categories %} {% if categories != "" %}
				<div class="u-full-width stamp categories">
					<i class="icon-tree" title="Categories"></i> {% for category in categories %} {{ category }}{%
					unless forloop.last %} > {% endunless %} {% endfor %}
				</div>
				{% endif %} {% assign tags = page.tags %} {% if tags != "" %}
				<div class="u-full-width stamp tags">
					<i class="icon-price-tags" title="Tags"></i> {% for tag in tags %} {{ tag }}{% unless forloop.last %},
					{% endunless %} {% endfor %}
				</div>
				{% endif %}
			</div>

			<div class="post-content" itemprop="articleBody">
				{{ page.content }}
			</div>

			<!-- Article Footer -->
			{% assign date_format = site.minima.date_format | default: "%b %d %Y" %}
			<footer class="post">
				<span class="post-meta">
						<i class="icon-calendar"></i>
						<time datetime="{{ page.date | date_to_rfc822 }}" itemprop="datePublished">
							{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} 
							{{ page.date | date: date_format }}
						</time>
					</span> • {% if page.author %}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
							<span itemprop="name">{{ page.author }}</span>
				</span> • {% endif %}
				<span>
					<a class="permalink" href="{{ post.url | relative_url }}" title="Permalink"><i class="icon-link"></i> Permalink</a>
				</span> • <span>
					<a class="disqus_trigger" itemprop="disqus" title="Load Disqus." href="#"><i class="icon-bubbles"></i></a>
				</span> • <span>
					<a title="Save to Pocket" href="https://getpocket.com/edit?url={{ post.url | relative_url | prepend: site.url }}" data-lang="en" data-save-url="{{ post.url | relative_url }}" data-pocket-count="none" data-pocket-align="left"><i class="icon-pocket"></i></a>
				</span>
			</footer>

			<!-- Disqus -->
			{% if site.disqus.shortname %}
			<section class="disqus">
				{% include disqus_comments.html %}
			</section>
			{% endif %}
		</article>
	</div>
</div>